#modal-1 .popup-content{
  background-color: #D1F6A0;
}

.modal-1-button{
  width: calc(100%/11);
  font-size: 18px;
  border: 2px #9AD484 solid;
  border-radius: 15px;
  padding: 5px;
  margin: 5px 0;
}

.modal-1-button:hover{
  background-color: #9AD484;
  color: white;
  font-weight: bold;
}

.modal-1-h1{
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}

.modal-1-p{
  font-size: 30px;
  margin: 30px 0;
}

.modal-1-div{
  text-align: center;
}

.halfPlus{
  width: 100%;
  margin: 4px 0;
}

.modal-1-img-container{
  width: 15%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.modal-1-img-container > img {
  width: 100%;
}

#dice-choice{
  width: 30%;
}
