html{
  scroll-behavior: smooth;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 0;
}

::-webkit-scrollbar-thumb{
  background: #c0c0c0;
  border-radius: 15px;
  height: 0;
}

::-webkit-scrollbar-track{
  border-radius: 15px;
}

/* general */
header{
  width: 100%;
  background-color: #C0453E;
  text-align: center;
  position: relative;
}

header>a{
  padding: 7px 40px;
  border: solid white 4px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}

header>a:hover{
  font-size: 22px;
  padding: 9px 42px;
  transition: 0.2s;
}

h1{
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 50px;
  font-weight: 600;
  padding-top: 30px;
}

h2{
  font-family: 'Rajdhani', sans-serif;
  color: white;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 24px;
}

h3{
  color: #C0453E;
  font-family: 'Rajdhani', sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  padding: 30px 0;
  clear: both;
}

p{
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  color: #282E3A
}

.copyright{
  margin: 10px 0;
  padding-top: 10px;
  border-top: 2px solid #C0453E;
  font-size: 14px;
  display: block;
  width: 100%;
  text-align: center;
}

.pied{
  padding:0 30% 0 30%;
}

.alignRight{
  text-align: right;
}

.tige{
  border-left: solid 4px #C0453E;
}

.menu{
  background-color: #282E3A;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 20%;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  transition: 0.2s;
}

.menu:hover {
  background-color: #6B7487;
  transition: 0.2s;
}

.menuResp i{
  display: none;
}

.contenu{
  display: none;
  padding-top: 50px;
}

.backgroundPic{
  width: 95%;
  margin: auto;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.proposPic{
  background-image: url(../img/kyotoMichi-1600px.jpg);
}

.contactPic{
  background-image: url(../img/tokyoNight-1600px.jpg);
}

 .txtOnBack{
   color: white;
   font-family: "Roboto", sans-serif;
   font-size: 20px;
   padding: 10px 0;
   font-weight: 300;
}

 .txtBack{
   border-radius: 15px;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgba(40, 46, 58, .5);
   width: 50%;
   padding: 20px;
   text-align: justify;
 }

 .conText{
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   font-size: 20px;
   color: #282E3A;
 }

/* timeline */

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 5px;
  background-color: #282E3A;
  top: 100px;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* box */
.timebox{
  padding: 0px 40px;
  margin: 40px 0;
  position: relative;
  width: 50%;
}

/* The circles on the timeline */
.timebox::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: 68px;
  background-color: #6B7487;
  border: 4px solid #282E3A;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.boxleft{
  left: 0;
  border-left: solid #C0453E 4px;
}

.boxright{
  left: 50%;
  border-right: solid #C0453E 4px;
  text-align: right;
}

.timedate{
  font-family: "Rajdhani", sans-serif;
  font-size: 30px;
  color: #C0453E;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 10px;
}

.timejob{
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #282E3A;
  padding-bottom: 10px;
}

.padExp{
  padding: 0px 10px 10px 10px;
}

.padBas{
  padding-bottom: 10px;
}

.boxright::after{
  left: -17px;
}

.absolG{
  position: absolute;
  left: 0;
  width: 50%;
}

.absolD{
  position: absolute;
  left: 50%;
  width: 50%;
}

.relatExp{
  position: relative;
  margin-bottom: 100px;
}

/* parcours responsive */
.parcourMobile{
  display: none;
}

.timeboxMobile{
  width: 70%;
  margin: 20px auto;
}

/* contact */

.relatCont{
  position: relative;
}

.absolCont{
  position: absolute;
  width: 100px;
  height: 100px;
  border: solid 4px #C0453E;
  border-radius: 50%;
  background-color: white;
  z-index: 2;
  transition: 0.2s;
}

.absolCont:hover{
  transform: scale(1.1);
  transition: 0.2s;
}

.absolInfo{
  position: absolute;
  width: 400px;
  height: 100px;
  border: solid 4px #282E3A;
  border-radius: 100px;
  background-color: rgba(107,116,135, 0.7);
  z-index: 1;
  transition: 0.3s;
}

.absolInfo:hover{
  border-color: #C0453E;
  transition: 0.3s;
}

.absolInfo p{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
  padding: 42px 20px;
}

.absolCont img{
  color: #C0453E;
  padding: 25px 25px;
}

.contPhone{
  top: 40px;
  left: 60px;
}

.contGit{
  bottom: 40px;
  left: 60px;
}

#contCv{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contCv:hover{
  transform: translate(-50%, -50%) scale(1.1);
}

.contMail{
  top: 40px;
  right: 60px;
}

.contLink{
  bottom: 40px;
  right: 60px;
}
/* competences */
.flex{
  display: flex;
  flex-flow: row wrap;
  clear: both;
  padding-top: 10px;
}

.comp{
  width: calc(100%/3);
  overflow: hidden;
  padding-bottom: 10px;
}

.compTitle{
  text-align: left;
  border-left: solid #C0453E 4px;
  padding: 5px 0 5px 10px;
  margin: 10px;
}

.compIcons{
  margin-top: 10px;
  width: 50%;
  text-align: center;
  transition: 0.2s;
}

.compIcons img{
  width: 100px;
}

.compIcons:hover{
  transform: scale(1.1);
  transition: 0.2s;
}

.iconName{
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #282E3A;
  padding-top: 10px;
}

.compDesc{
  padding: 30px 20px 0 20px;
}

/* bottom nav */
#bottomNav{
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;
  padding: 10px;
  box-sizing: border-box;
  background-color: #C0453E;
  display: none;
}

#bottomNav>ul{
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 100%;
}

/* portfolio */
#portfolio{
  text-align: center;
}

/* modal */
.popup-overlay{
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0,0,0,0.5);
z-index: 100;
}

.popup-content{
position: relative;
width: 80%;
height: 80%;
padding: 25px;
border: 2px solid black;
border-radius: 15px;
background-color: white;
overflow: scroll;
}

.popup-close{
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #c0c0c0;
  border-radius: 50px;
  color: white;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.popup-close img{
  margin: auto;
  width: 100%;
}


/* carte */
.portfolio-card{
  display: flex;
  width: 80%;
  margin: 5px auto;
  border: 2px solid #282E3A;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #7f7f7f;
  padding: 10px;
}

.portfolio-card p{
  font-size: 20px;
  padding: 20px 0;
  line-height: 120%;
}

.portfolio-card h3{
  padding: 10px 0;
}

.card-left{
  display: inline-block;
  width: 40%;
  padding: 15px 25px;
}

.card-right{
  display: inline-block;
  width: 60%;
  padding: 15px 25px;
}

.card-border-right{
  border-left: 2px solid #C0453E;
}

.card-border-left{
  border-right: 2px solid #C0453E;
}

.card-text{
  text-align: justify;
}

.card-thumbnail{
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-parent{
  margin: auto;
}

.card-thumbnail img{
  width: 100%;
  border-radius: 15px;
}

.modal-img-container{
  height: 100%;
}

.modal-img-container img{
  height: 100%;
}


.card-button{
  display: block;
  margin: 10px auto;
  font-size: 18px;
  border: 2px solid #C0453E;
  border-radius: 50px;
  padding: 5px 15px;
  color: #C0453E;
  background-color: #ffffff;
  transition: 0.2s;
  font-weight: 500;
  font-family: "Rajdhani", sans-serif;
  cursor: pointer;
}

.card-button:hover{
  background-color: #C0453E;
  color: white;
}

#modal-1{
  visibility: hidden;
}

#modal-2{
  visibility: hidden;
}

@media screen and (max-width: 1024px){
  /* timeline */
  .timeline{
    width: 650px;
  }

  .timebox{
    width: 40%;
  }

  .timebox::after{
    right: 3px;
  }

  /* contact */
  .contMail{
    top: 160px;
  }

  .contGit{
    top: 280px;
  }

  .contLink{
    top: 400px;
  }

  #contCv{
    top: 580px;
  }

  .backgroundPic{
    height: 680px;
  }
}

@media screen and (max-width: 768px){
  header>a{
    position: static;
    top: auto;
    right: auto;
    padding: 7px 40px;
  }

  header{
    padding-bottom: 30px;
  }

  .portCase{
    width: 45%;
  }

}

@media screen and (max-width: 660px){
  /* parcour */
     .timeline{
       display: none;
     }

     .parcourMobile{
       display: block;
     }

     /* Compétences */
     .comp{
       width: 100%;
     }

      .compIcons{
        width: calc(100%/3);
      }

     .compTitle{
       margin-top: 20px;
       margin-bottom: 0;
     }
}

@media screen and (max-width:480px){
  /* header */
  body{
    padding-bottom: 70px;
  }

  h1{
    font-size: 40px;
    padding-top: 30px;
  }

  h2{
    font-size: 22px;
  }

  /* menu */
  .contact{
    display: none;
  }
  .menu{
    width: 25%;
  }

  .menuResp span {
    display: none;
  }

  .menuResp i{
    display: block;
  }

  #bottomNav{
    display: block;
  }

   /* A propos */
   .txtBack{
     width: 70%;
   }

   .txtOnBack{
     padding: 10px 20px;
   }

   .backgroundPic{
     height: 750px;
     width: 100%;
   }

   /* compétences */
   .compIcons{
     width: 50%;
   }

   .portCase{
     width: 80%;
   }
}

@media screen and (max-width:350px){
  .backgroundPic{
    height: 850px;
    width: 100%;
  }
}
